# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
**/.env
# Docker
*.log

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Chrome extension build/cache (אם יתווסף)
dist/
build/
extension/dist/