services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
  backend:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./server:/app  # מקשר את תיקיית השרת המקומית לתיקיית העבודה בדוקר
    #  - /app/node_modules
 